# Python virtual environments
venv
env
D:\Documents\VSCProjects\Face-Mask-Detection-System---FMDS\Face-Mask-Detection-master\mask_detector.model
.vscode\settings.json
Face-Mask-Detection-master\fmd-esp.py